::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: var(--surface-c);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: var(--surface-d);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}