@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color-red: #FF5555;
    --color-blue: #8BE9FD;
    --color-green: #50FA7B;
    --color-black: #1E1E26;
    --color-white: #F8F8F2;
    --color-yellow: #FFB86C;
    --color-black-hard: #1B1D2A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--color-white);
    background-color: var(--color-black);
}

h1 {
    margin-bottom: 0.7rem;
    color: var(--color-red);
}

h1::before {
    content: "# ";
}

h2 {
    margin-bottom: 0.6rem;
    color: var(--color-yellow);
}

h2::before {
    content: "## ";
}

a {
	text-decoration: none;
	color: var(--color-white);
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--color-black);
    background-color: var(--color-blue);
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: var(--color-white);
    background-color: var(--color-green);
}