@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color-red: #FF5555;
    --color-blue: #40DBFC;
    --color-green: #50FA7B;
    --color-black: #1E1E26;
    --color-white: #F8F8F2;
    --color-yellow: #FFB86C;
    --color-blue-hard: #393D59;
    --color-black-hard: #1B1D2A;
    
    --border: #32323D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--color-white);
    background-color: var(--color-black);
}

.ui-panel-titlebar.ui-widget-header {
	background: none;
	color: var(--color-white);
	border: 1px solid var(--border);
	background-color: var(--color-blue-hard);
}

.ui-widget.ui-panel {
	border: 1px solid var(--border);
	background-color: var(--color-black);
}

.ui-widget.ui-panel label, .ui-widget.ui-panel span, .ui-g span {
	color: var(--color-white);
}

h1 {
    margin-bottom: 0.7rem;
    color: var(--color-red);
}

h1::before {
    content: "# ";
}

h2 {
    margin-bottom: 0.6rem;
    color: var(--color-yellow);
}

h2::before {
    content: "## ";
}

a {
	text-decoration: none;
	color: var(--color-white);
}

.botao {
	margin: 0 !important;
    border: none !important;
    outline: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
	background: none !important;
	padding: 8px 16px !important;
    display: inline-flex !important;
    align-items: center !important;
    border-radius: 5px !important;
    justify-content: center !important;
    color: var(--color-white) !important;
    background-color: var(--color-blue) !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
}

.botao:hover {
    background-color: var(--color-green) !important;
}

.botao:focus-visible {
	outline-offset: 2px !important;
	outline: 2px solid var(--color-white) !important;
}