:root {
	--width-sidebar: 280px;
}

.sidebar {
	height: 100vh;
	padding: 20px;
	position: fixed;
	overflow: auto;
	width: var(--width-sidebar);
	background-color: var(--surface-a);
}

.sidebar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.sidebar::-webkit-scrollbar-track {
	background: var(--surface-c);
}

.sidebar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: var(--surface-d);
}

.sidebar::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}

.brand {
	font-size: 1.5rem;
}

.nav-links {
	padding: 0;
	list-style: none;
}

.nav-links li {
	margin: 2px;
	padding: 8px;
	cursor: pointer;
	font-size: 0.9rem;
	color: var(--text-color);
}

.nav-links li:hover, .active li {
	border-radius: 4px;
	color: var(--text-color);
	background: var(--surface-b);
}

hr {
	border: 0;
	margin: 15px 0;
	border-top: 1px solid var(--surface-b);
}

.content {
	flex: 1;
	padding: 40px;
	margin-left: var(--width-sidebar);
}