:root {
	--border: #32323D;
	--bg-card: #252531;
	--text-dim: #A8A8B3;
	--bg-sidebar: #1A1A22;
	
	--width-sidebar: 280px;
}

.sidebar {
	height: 100vh;
	padding: 20px;
	position: fixed;
	overflow: auto;
	width: var(--width-sidebar);
	background-color: var(--bg-sidebar);
	border-right: 1px solid var(--border);
}

.sidebar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.sidebar::-webkit-scrollbar-track {
	background: #1A1A22;
}

.sidebar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #444452;
}

.sidebar::-webkit-scrollbar-thumb:hover {
	background: #FF4D4D;
}

.brand {
	font-size: 1.5rem;
}

.nav-links {
	padding: 0;
	list-style: none;
}

.nav-links li {
	margin: 2px;
	padding: 8px;
	cursor: pointer;
	font-size: 0.9rem;
	color: var(--text-dim);
}

.nav-links li:hover, .active li {
	color: #FFF;
	border-radius: 4px;
	background: var(--border);
}

hr {
	border: 0;
	margin: 15px 0;
	border-top: 1px solid var(--border);
}

.content {
	flex: 1;
	padding: 40px;
	margin-left: var(--width-sidebar);
}